.anchor {
  background: #0071e3;
  color: #fff;
  font-family: Bangers;
  font-size: 30px;
  text-decoration: none;
  min-width: 200px;
  border-radius: 8px;
  padding: 10px 0;
  margin: 10px 0;
  display: inline-block;
}

.anchor:hover {
  background: #0077ed;
}